@model Nop.Web.Models.Common.HeaderModel
<div class="header">
    @Html.Widget("header")
    <div class="header-upper">
        <div class="slogan"></div>
        <div class="header-selectors-wrapper">
            @Html.Action("TaxTypeSelector", "Common")
            @Html.Action("CurrencySelector", "Common")
            @Html.Action("LanguageSelector", "Common")
            @Html.Widget("header_selectors")
        </div>
        <div class="header-links-wrapper">
            @Html.Action("HeaderLinks", "Common")
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
        </div>
    </div>
    <div class="header-lower">
        <div class="logo-vendor"><img src="@Model.VendorLogoUrl" /><div class="vendor-title">Title</div></div>
        <div class="header-logo">
            @Html.Action("Logo", "Common")
        </div>
        @if (Convert.ToBoolean(ViewBag.ShowSearch))
        {
        <div class="search-box store-search-box">
            @Html.Action("SearchBox", "Catalog")
        </div>
        }
    </div>
    <div class="desc">Conveniently. Fast. Easily.</div>
</div>
<div class="logo-vendor-mob for-mob"><img src="@Model.VendorLogoUrl" /></div>