@model Nop.Web.Models.Common.SocialModel

<ul class="networks">
    @if (!string.IsNullOrEmpty(Model.TwitterLink))
    {
        <li class="twitter"><a href="@Model.TwitterLink" target="_blank">@T("Footer.FollowUs.Twitter")</a></li>    }
	@if (!string.IsNullOrEmpty(Model.FacebookLink))
	{
		<li class="facebook"><a href="@Model.FacebookLink" target="_blank">@T("Footer.FollowUs.Facebook")</a></li>
	}
	@if (!string.IsNullOrEmpty(Model.GooglePlusLink))
	{
		<li class="google-plus"><a href="@Model.GooglePlusLink" target="_blank">@T("Footer.FollowUs.GooglePlus")</a></li>
	}
</ul>